<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Main</title>
    <script src="js/admin/utils.js"></script>
</head>
<body>
<div class="top">
    <img src="img/login.png">
    <br/>
    <p>admin name: ${user.name}</p>
</div>


<h4>Случайный пользователь</h4>
<table style="width: 400px">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Логин</td>
        <td style="width: 100px">Роль</td>
    </tr>
    </thead>
    <tbody id="content">
    <tr >
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>


</body>
</html>